@font-face {
   font-family: 'GmarketSansMedium';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@keyframes fadeInUp {
   from {
      opacity: 0;
      transform: translateY(10px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes fadeOut {
   to {
      opacity: 0;
   }
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#log {
   width: 100%;
   padding: 0 1.2rem;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
}
#log>div {
   width: 100%;
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
   animation: fadeInUp 0.5s ease ;
}
.meta{
   width: 100%;
   padding: 0.25rem 0;
   background-color: rgba(80, 80, 80, 0.5);
   border-top-right-radius: 12px;
   border-top-left-radius: 12px;
   text-align: center;
}
.name {
   width: 100%;
   color: #fff !important;
   font-size: 1.1rem;
}

.colon {
   display: none;
}

.message {
   max-height: 12rem;
   border: 1px solid lightgray;
   background-color: transparent;
   font-size: 1.2rem;
   overflow-y: hidden;
	color: $text_color !important;
   padding: 1rem 0.55rem;
   border-bottom-right-radius: 12px;
   border-bottom-left-radius: 12px;
}